

#main__container{
  height: 25vh;
  width: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-style: ridge;
  border-radius: 200px;
  background-image: linear-gradient(to right top, #0698a6, #2a8596, #387383, #3e626f, #40515a, #374b59, #304557, #2a3f56, #1a4069, #0b3f7c, #113c8c, #2b3599);
  margin: auto;
  margin-top: 35vh;
  
  
  }
  h1{
    text-align: center;
    color:black;
    margin: auto;
    
  }
  #btn__collection{
  text-align: center;
  height: 100vh;
  width: 64vh;
  margin-top: 50px;
  }
  button{
    color: rgb(49, 32, 110);
    block-size: 50px;
    border-block-color: blue;
  }